<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
    <!--<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>-->
  </configSections>
  <unity>
    <!--<sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>-->
    <!--<sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>-->
    <containers>
      <container name="webApiContainer">
        <register type="WuQiang.WepApi.WebApp.Unity.Interface.DbContext,WuQiang.WepApi.WebApp" mapTo="WuQiang.WepApi.WebApp.Unity.Service.CustomDbContext,WuQiang.WepApi.WebApp" />
        <register type="WuQiang.WepApi.WebApp.Unity.Interface.IUserService,WuQiang.WepApi.WebApp" mapTo="WuQiang.WepApi.WebApp.Unity.Service.UserService,WuQiang.WepApi.WebApp" />
      </container>
    </containers>
  </unity>
</configuration>