<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <!--WCF 配置  http协议-->
  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MathSevicebeHavior">
          <serviceDebug httpHelpPageEnabled="false"/>
          <serviceMetadata httpsGetEnabled="false"/>
          <serviceTimeouts transactionTimeout="00:10:00"/> 
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="httpbinding"/>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="WuQiang.WCF.MathService.MathService" behaviorConfiguration="MathSevicebeHavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:11113/MathService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="httpbinding" contract="WuQiang.WCF.Interface.IMathService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>-->


  <!--WCF 配置 tcp协议-->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        
        <behavior name="MathSevicebeHavior">
          <serviceDebug httpHelpPageEnabled="false"/>
          <serviceMetadata httpsGetEnabled="false"/>
          <serviceTimeouts transactionTimeout="00:10:00"/>
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000"/>
        </behavior>

        <behavior name="CalculatorSevicebeHavior">
          <serviceDebug httpHelpPageEnabled="false"/>
          <serviceMetadata httpsGetEnabled="false"/>
          <serviceTimeouts transactionTimeout="00:10:00"/>
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000"/>
        </behavior>
        
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="tcpbinding">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="WuQiang.WCF.MathService.MathService" behaviorConfiguration="MathSevicebeHavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:11112/MathService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpbinding" contract="WuQiang.WCF.Interface.IMathService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="WuQiang.WCF.MathService.CalculatorSevice" behaviorConfiguration="CalculatorSevicebeHavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:11112/CalculatorSevice"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpbinding" contract="WuQiang.WCF.Interface.ICalculatorSevice" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
  
</configuration>