<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MyWebServiceSoap" />
                <binding name="BasicHttpBinding_IMyWCF" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50714/Remote/MyWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="MyWebServiceSoap"
                contract="WebSeviceTest.MyWebServiceSoap" name="MyWebServiceSoap" />
            <endpoint address="http://localhost:50714/Remote/WCFDome/MyWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMyWCF"
                contract="MyWebWCF.IMyWCF" name="BasicHttpBinding_IMyWCF" />
        </client>
    </system.serviceModel>
</configuration>