<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>-->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
    <!--<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>-->
  </configSections>
  <unity>
    <!--<sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration"/>-->
    <!--<sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>-->
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      <container name="AopContainer">
        <extension type="Interception"/>
        <!--<register type="WuQiang.WepApi.WebApp.Unity.Interface.DbContext,WuQiang.WepApi.WebApp" mapTo="WuQiang.WepApi.WebApp.Unity.Service.CustomDbContext,WuQiang.WepApi.WebApp" />-->
        <register type="WuQiang.AOP.Console.IUserProcessor,WuQiang.AOP.Console" mapTo="WuQiang.AOP.Console.UserProcessor,WuQiang.AOP.Console">
          <!--接口式的注册-->
          <interceptor type="InterfaceInterceptor"/>
          <interceptionBehavior type="WuQiang.AOP.Console.ExceptionLoggingBehavior,WuQiang.AOP.Console"/>
          <interceptionBehavior type="WuQiang.AOP.Console.CachingBehavior,WuQiang.AOP.Console"/>
          <interceptionBehavior type="WuQiang.AOP.Console.LogBeforeBehavior,WuQiang.AOP.Console"/>
          <interceptionBehavior type="WuQiang.AOP.Console.ParameterCheckBehavior,WuQiang.AOP.Console"/>
          <interceptionBehavior type="WuQiang.AOP.Console.LogAfterBehavior,WuQiang.AOP.Console"/>
        </register>
      </container>
    </containers>
  </unity>
</configuration>