<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMathService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMathService">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_ICalculatorSevice">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:11113/MathService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMathService" contract="WCFConsoleService.IMathService"
                name="BasicHttpBinding_IMathService" />
            <endpoint address="net.tcp://localhost:11112/MathService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMathService" contract="WCFTCPConsoleService.IMathService"
                name="NetTcpBinding_IMathService" />
            <endpoint address="net.tcp://localhost:11112/CalculatorSevice"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICalculatorSevice"
                contract="CallBackWCFTcpService.ICalculatorSevice" name="NetTcpBinding_ICalculatorSevice" />
        </client>
    </system.serviceModel>
</configuration>